/*  your css code here. If applicable */
table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: yellow;
}

th, td {
	border: 1px solid black;
	text-align: left;
}

caption {
	font-weight: bold;
	padding: 10px;
}